/* line 5, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.hikes-list {
  color: white;
  overflow-y: scroll;
  height: 600px;
  background: black;
  border-radius: 10px;
  padding: 25px;
  margin-left: 15px;
  width: 40%;
  opacity: .7;
}

/* line 17, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.delete-button {
  bottom: 0;
  float: right;
}

/* line 22, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.delete-button:focus, .delete-button:hover {
  background: red;
}

/* line 26, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.notes-list {
  width: 57%;
  margin-right: 15px;
  border-radius: 10px;
  background-color: black;
  opacity: .7;
}

/* line 34, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-scroller {
  overflow-y: scroll;
  height: 353px;
}

/* line 39, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-form {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* line 45, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-form h5 {
  text-align: center;
  color: white;
}

/* line 50, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-form input {
  width: 80%;
  height: 10%;
}

/* line 55, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-form textarea {
  margin: auto;
  width: 80%;
  height: 10vh;
}

/* line 61, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-form .button {
  width: 25%;
  height: 10%;
}

/* line 66, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.note-tile {
  color: white;
  padding: 3%;
}

/* line 71, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/hikes.scss */
.edit-note {
  background: black;
  opacity: .7;
}
