/* line 1, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.topnav {
  background-color: #0a2013;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
/* line 7, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
/* line 18, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.topnav a:hover {
  background-color: #f7bd0e;
  color: white;
}

/* Add a color to the active/current link */
/* line 24, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.topnav a.active {
  background-color: #f7bd0e;
  color: white;
}

/* line 29, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.username {
  color: white;
  float: right;
  margin: 20px;
}

/* line 35, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.signin {
  color: white;
  float: right;
}

/* line 40, /Users/alexluna/Desktop/Dev/Trekk/app/assets/stylesheets/navbar.scss */
.navigation {
  float: left;
}
