// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hikes-list {
  color: white;
  overflow-y: scroll;
  height:600px;
  background: black;
  border-radius: 10px;
  padding: 25px;
  margin-left: 15px;
  width: 40%;
  opacity: .7;
}

.delete-button {
  bottom: 0;
}

.notes-list {
  background-color: black;
  opacity: .7;
}

.note-scroller {
  overflow-y: scroll;
  height:330px;
}

.note-form {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.note-form h5 {
  text-align: center;
  color: white;
}

.note-form input{
  width: 80%;
  height: 10%;
}

.note-form textarea {
  margin: auto;
  width: 80%;
  height: 10vh;
}

.note-form .button {
  width: 25%;
  height: 10%;
}

.note-tile {
  color: white;
  padding: 3%;
}
