// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.journal-hikes-list {
  color: white;
  overflow-y: scroll;
  height:600px;
  background: #0a2013;
  border-radius: 10px;
  padding: 25px;
  margin-left: 15px;
}
