// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$break-small: 380px;
$break-large: 1000px;

.hikes-list {
  border: solid 2px black;
  color: white;
  overflow-y: scroll;
  height:85vh;
  background: rgba(0, 0, 0, .7);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 2%;

  @media screen and (min-width: $break-small) {
    height: 25vh;
  }

  @media screen and (min-width: $break-large) {
    height: 85vh;
  }

}

.hikes-list h3 {
  text-align: center;
  margin-bottom: 10px;
}

.photos {
  margin-top: 2%;
}

.hike {
  margin-top: 2%;

  h4 {
    cursor: pointer;
  }
}

.delete-button {
  bottom: 0;
  float: right;
}

.delete-button:focus, .delete-button:hover {
  background: red;
}

.notes-list {
  border: solid 2px black;
  border-radius: 10px;
  background: rgba(0, 0, 0, .7);
  float: right;

  @media screen and (min-width: $break-small) {
    height: 55vh;
  }

  @media screen and (min-width: $break-large) {
    height: 85vh;
  }

}

.note-scroller {

  @media screen and (min-width: $break-small) {
    overflow-y: scroll;
    height: 35vh;
  }

  @media screen and (min-width: $break-large) {
    overflow-y: scroll;
    height: 50vh;
  }

}

.note-form {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;

  h5 {
    text-align: center;
    color: white;
  }

  input {
    width: 80%;
    height: 10%;
  }

  textarea {
    margin: auto;
    width: 80%;
    height: 10vh;
  }

  .button {
    width: 25%;
    height: 10%;
  }

}

.note-tile {
  color: white;
  padding: 3%;
}

.edit-note {
  background: black;
  opacity: .7;
}
