// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trail-list {
  float: left;
  text-align: left;
  color: white;
}

.trail-search-list {
  overflow-y: scroll;
  height:85vh;
  border-radius: 10px;
  padding: 25px;
  background: rgba(0, 0, 0, .7);
}

.trail-search-form .text {
  width: 50%;
}

.add-trail-button {
  margin-top:40px;
  float: right;
  padding: 10px;
}

.add-trail-button a:hover {
  background-color: #3a949d;
  color: white;
}

.map {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 10px rgba(0, 0, 0, .7);
  background: rgba(0, 0, 0, .7);
  border-radius: 10px;
}

iframe {
  height: 475px;
  width: 100%;
}
