// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  color: white;
  width: 30%;
  margin-left: 35%;
  text-align: center;
  border: solid 10px #0a2013;
  border-radius: 10px;
  background: #0a2013;
}
