// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  color: white;
  width: 30%;
  margin-left: 35%;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  background-color: black;
  opacity: .7;
}

.login label {
  color: white;
}

.login input {
  color: black;
  text-align: center;
}

.edit {
  color: white;
  width: 30%;
  margin-left: 35%;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  background-color: black;
  opacity: .7;
  margin-bottom: 20px;
}

.edit label {
  color: white;
}

.edit input {
  color: black;
  text-align: center;
}
